@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;
}

/* @mixin font-title-styles {
    font-size: 1.7rem;
    font-weight: 600;
} */

body {
    padding: 0;
    margin:0;
    background-color: rgb(22, 22, 22);  
    overflow-x: hidden;
}

html {
    font-family: 'Ubuntu', sans-serif;
    min-width: 100vw;
}

.nav {
    display: flex;
    background-color: rgb(14, 26, 69);
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    border-bottom: solid 3px rgb(3, 10, 34);
    .nav-logo {
        display: flex;
        height: 2rem;
        background-color: cyan;
        max-width: 7rem;
    }

    .nav-menu {
        display: flex;
        ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            gap: 2rem;
            li {
                list-style: none;
                a {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 400;
                    @media (max-width: 600px) {
                        font-size: 1rem;
                    }
                    @media (max-width: 530px) {
                        font-size: 0.8rem;
                    }
                    @media (max-width: 450px) {
                        font-size: 0.7rem;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            @media (max-width: 450px) {
                gap: 1rem;
            }
            @media (max-width: 365px) {
                gap: 0.5rem;
            }
        }
    }
    @media (max-width: 330px) {
        display: none;
    }
}

.sec-about-me {
    @include section-display();
    margin-top: 5rem;
    .main-about-me {
        span {
            color:#fff;
            font-size: 2rem;
            line-height: 3rem;
            .span {
                color: red;
            }
            @media (max-width: 430px) {
                font-size: 1.5rem;
            }
            
        }
        @media (max-width: 340px) {
            width: 70%;
        }
    }
    .separator {
        height: 4rem;
        width: 100%;
    }

    .about-me-text {
        h3 {
            color: rgb(168,87,213);
            font-size: 1.3rem;
        }
        span {
            color: #fff;
            line-height: 1.5rem;
            font-size: 0.9rem;
        }
        .separator-2 {
            height: 1.5rem;
        }
        @media (max-width: 1050px) {
            width: 90%;
        }
        @media (max-width: 630px) {
            width: 80%;
        }
        @media (max-width: 350px) {
            width: 70%;
        }
    }
}

.about-me-education {
    .about-me-title {   
        font-size: 1.3rem;
        color: rgb(168,87,213)
    }
    ul {
        padding: 0;
        .about-me-list {
            list-style: none;
            h4 {
                font-size: 1rem;
                color: rgb(168,87,213);
            }
            p {
                font-size: 0.9rem;
                color: #fff
            }
        }
    }
    @media (max-width: 1050px) {
        width: 90%;
    }
    @media (max-width: 630px) {
        width: 80%;
    }
    @media (max-width: 350px) {
        width: 70%;
    }
}


.sec-my-skills {
    @include section-display();
    padding-top: 0;
    .intro-skills {
        h3 {
            color: rgb(168,87,213);
            font-size: 1.3rem;
        }
    }

    .skills-cards {
        display: flex;
        color: #fff;
        justify-content: space-between;
        border-top: solid 1px #ddd;

        .skills-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            .description {
                font-size: 0.9rem;
                @media (max-width: 535px) {
                    font-size: 0.7rem;
                }   
            }
            i {
                display: flex;
                justify-self: flex-end;
                font-size: 2.2rem;
                @media (max-width: 590px) {
                    font-size: 1.8rem;
                }   
            }
        }
        @media (max-width: 1060px) {
            width: 90%;
        }   
        @media (max-width: 630px) {
            width: 80%;
        }   
        @media (max-width: 450px) {
            display: flex;
            flex-direction: column;
            border: none;
        }  
    }
}

.sec-my-projects {
    @include section-display();
    padding-bottom: 0;
    .intro-projects {
        color: #fff;
        h3 {
            color: rgb(168,87,213);
            font-size: 1.3rem
        }
        p {
            color: #fff;
            font-weight: 400;
        }
        a {
            text-decoration: none;
            color: rgb(168,87,213);
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
        .weather-img {
            width: 20rem;
            height: 10rem;
            background-image: url('/weather-app-previsualization.png');
            background-size: contain;
            background-repeat: no-repeat;
            @media (max-width: 350px) {
                display: none;
            }
        }
        .movie-img {
            width: 20rem;
            height: 10rem;
            background-image: url('/movie-app-previsualization.png');
            background-size: contain;
            background-repeat: no-repeat;
            @media (max-width: 350px) {
                display: none;
            }
        }
    }
    @media (max-width: 1050px) {
        width: 90%;
    }
    @media (max-width: 630px) {
        width: 80%;
    }
    @media (max-width: 350px) {
        width: 70%;
    }
}

.sec-contact {
    @include section-display;
    .contact-text {
        h3 {
            color: rgb(168,87,213);
            font-size: 1.3rem;
        }
        ul {
            display: flex;
            justify-content: flex-start;
            margin-top: 1rem;
            padding: 0;
            gap: 2rem;
            li {
                list-style: none;
                a {
                    font-size: 0.9rem;
                    color: #fff;
                    font-weight: 600;
                    text-decoration: none;
                }
                i {
                    margin-top: 0.5rem;
                    display: flex;
                    justify-content: center;
                    font-size: 2.2rem;
                }
            }
        }
    }
    @media (max-width: 1060px) {
        width: 90%;
    }   
    @media (max-width: 630px) {
        width: 80%;
    }   
    @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        border: none;
    }  
}


/* @media (max-width: 1080px) {
    .sec-about-me {
        .about-me-text {
            h3 {
                font-size: 1rem;
            }
            span {
                font-size: auto;
            }
        }
    }
} */




/* @media (max-width: 625px) {
    .nav {
        display: none;
    }

    .sec-about-me {
        margin: 0;
    }
} */
