/* @use "components"; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: rgb(22, 22, 22);
}

html {
  font-family: "Ubuntu", sans-serif;
  min-width: 100vw;
  overflow-x: hidden;
}

.nav {
  display: flex;
  background-color: rgb(14, 26, 69);
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  border-bottom: solid 3px rgb(3, 10, 34);
}
.nav .nav-logo {
  display: flex;
  height: 2rem;
  background-color: cyan;
  max-width: 7rem;
}
.nav .nav-menu {
  display: flex;
}
.nav .nav-menu ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 2rem;
}
.nav .nav-menu ul li {
  list-style: none;
}
.nav .nav-menu ul li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
@media (max-width: 600px) {
  .nav .nav-menu ul li a {
    font-size: 1rem;
  }
}
@media (max-width: 530px) {
  .nav .nav-menu ul li a {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .nav .nav-menu ul li a {
    font-size: 0.7rem;
  }
}
.nav .nav-menu ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 450px) {
  .nav .nav-menu ul {
    gap: 1rem;
  }
}
@media (max-width: 365px) {
  .nav .nav-menu ul {
    gap: 0.5rem;
  }
}
@media (max-width: 330px) {
  .nav {
    display: none;
  }
}

.sec-about-me {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  margin-top: 5rem;
  padding-right: 0;
}
.sec-about-me .main-about-me span {
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
}
.sec-about-me .main-about-me span .span {
  color: red;
}
@media (max-width: 430px) {
  .sec-about-me .main-about-me span {
    font-size: 1.5rem;
  }
}
@media (max-width: 340px) {
  .sec-about-me .main-about-me {
    width: 70%;
  }
}
.sec-about-me .separator {
  height: 4rem;
  width: 100%;
}
.sec-about-me .about-me-text h3 {
  color: rgb(168, 87, 213);
  font-size: 1.3rem;
}
.sec-about-me .about-me-text span {
  color: #fff;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.sec-about-me .about-me-text .separator-2 {
  height: 1.5rem;
}
@media (max-width: 1050px) {
  .sec-about-me {
    width: 90%;
  }
}
@media (max-width: 630px) {
  .sec-about-me {
    width: 80%;
  }
}
@media (max-width: 350px) {
  .sec-about-me {
    width: 70%;
  }
}

.about-me-education .about-me-title {
  font-size: 1.3rem;
  color: rgb(168, 87, 213);
}
.about-me-education ul {
  padding: 0;
}
.about-me-education ul .about-me-list {
  list-style: none;
}
.about-me-education ul .about-me-list h4 {
  font-size: 1rem;
  color: rgb(168, 87, 213);
}
.about-me-education ul .about-me-list p {
  font-size: 0.9rem;
  color: #fff;
}
@media (max-width: 1050px) {
  .about-me-education {
    width: 90%;
  }
}
@media (max-width: 630px) {
  .about-me-education {
    width: 80%;
  }
}
@media (max-width: 350px) {
  .about-me-education {
    width: 70%;
  }
}

.sec-my-skills {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  padding-top: 0;
  padding-right: 0;
}
.sec-my-skills .intro-skills h3 {
  color: rgb(168, 87, 213);
  font-size: 1.3rem;
}
.sec-my-skills .skills-cards {
  display: flex;
  color: #fff;
  justify-content: space-between;
  border-top: solid 1px #ddd;
}
.sec-my-skills .skills-cards .skills-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-my-skills .skills-cards .skills-col .description {
  font-size: 0.9rem;
}
@media (max-width: 535px) {
  .sec-my-skills .skills-cards .skills-col .description {
    font-size: 0.7rem;
  }
}
.sec-my-skills .skills-cards .skills-col i {
  display: flex;
  justify-self: flex-end;
  font-size: 2.2rem;
}
@media (max-width: 590px) {
  .sec-my-skills .skills-cards .skills-col i {
    font-size: 1.8rem;
  }
}
@media (max-width: 1060px) {
  .sec-my-skills .skills-cards {
    width: 90%;
  }
}
@media (max-width: 630px) {
  .sec-my-skills .skills-cards {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .sec-my-skills .skills-cards {
    display: flex;
    flex-direction: column;
    border: none;
  }
}
@media (max-width: 1050px) {
  .sec-my-skills {
    width: 90%;
  }
}
@media (max-width: 630px) {
  .sec-my-skills {
    width: 80%;
  }
}
@media (max-width: 350px) {
  .sec-my-skills {
    width: 70%;
  }
}

.sec-my-projects {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  padding-bottom: 0;
  padding-right: 0;
}
.sec-my-projects .intro-projects {
  color: #fff;
}
.sec-my-projects .intro-projects h3 {
  color: rgb(168, 87, 213);
  font-size: 1.3rem;
}
.sec-my-projects .intro-projects p {
  color: #fff;
  font-weight: 400;
}
.sec-my-projects .intro-projects a {
  text-decoration: none;
  color: rgb(168, 87, 213);
  font-weight: 600;
}
.sec-my-projects .intro-projects a:hover {
  text-decoration: underline;
}
.sec-my-projects .intro-projects .weather-img {
  width: 20rem;
  height: 10rem;
  background-image: url("/weather-app-previsualization.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 380px) {
  .sec-my-projects .intro-projects .weather-img {
    display: none;
  }
}
.sec-my-projects .intro-projects .movie-img {
  width: 20rem;
  height: 10rem;
  background-image: url("/movie-app-previsualization.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 380px) {
  .sec-my-projects .intro-projects .movie-img {
    display: none;
  }
}
@media (max-width: 1050px) {
  .sec-my-projects {
    width: 90%;
  }
}
@media (max-width: 630px) {
  .sec-my-projects {
    width: 80%;
  }
}
@media (max-width: 350px) {
  .sec-my-projects {
    width: 70%;
  }
}

.sec-contact {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
}
.sec-contact .contact-text h3 {
  color: rgb(168, 87, 213);
  font-size: 1.3rem;
}
.sec-contact .contact-text ul {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: 0;
  gap: 2rem;
}
.sec-contact .contact-text ul li {
  list-style: none;
}
.sec-contact .contact-text ul li a {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.sec-contact .contact-text ul li i {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}
@media (max-width: 1060px) {
  .sec-contact {
    width: 90%;
  }
}
@media (max-width: 630px) {
  .sec-contact {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .sec-contact {
    display: flex;
    flex-direction: column;
    border: none;
    width: 70%;
  }
}

/* @media (max-width: 1080px) {
    .sec-about-me {
        .about-me-text {
            h3 {
                font-size: 1rem;
            }
            span {
                font-size: auto;
            }
        }
    }
} */
/* @media (max-width: 625px) {
    .nav {
        display: none;
    }

    .sec-about-me {
        margin: 0;
    }
} */

/*# sourceMappingURL=styles.css.map */
